.doctors-section {
    text-align: center;
    padding: 50px 20px;
    background: #f9f9f9;
}

.doctors-section h2 {
    font-size: 25px;
    color: #1558b0;
    padding: 50px;
}

.doctors-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center; 
    margin-top: 30px;
}

.doctor {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
}

.doctor.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.doctor:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.doctor img {
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.doctor h3 {
    font-size: 20px;
    color: #333;
}

.doctor p {
    color: #c33939;
    font-size: 16px;
    margin-bottom: 10px;
}

.social-links a {
    display: inline-block;
    margin: 5px;
    color: #1a73e8;
    font-size: 18px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #1558b0;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 6px 12px;
    background-color: #1a73e8;
    color: #FFF;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 14px;
}

.filter-btn:hover {
    background-color:#1558b0;
}

@media (max-width: 768px) {
    .filter-buttons {
        justify-content: center;
    }

    .doctors-container {
        grid-template-columns: 1fr; 
        gap: 15px;
    }

    .filter-btn {
        font-size: 12px;
        padding: 6px 10px;
    }

    .doctor img {
        max-width: 200px;
        height: auto;
    }
}

.doctor.hide {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

.doctor:not(.hide) {
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
